@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
}

.loader {
  border-top-color: orange;
  border-left-color: #ffffff;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.custom-quill-editor {
  /* width: fit-content; */
  /* min-width: 90%; */
  color: #fff; /* Set text color to white */
  background-color: #222; /* Set background color to dark gray */
  border: 1px solid #333; /* Set border color to slightly darker than background */
  border-radius: 4px; /* Add border radius for rounded corners */
  padding: 10px;
  margin-top: 20px; /* Add padding for spacing */
}

.custom-quill-editor.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.4;
}
.custom-quill-editor .ql-snow .ql-picker {
  color: white;
}

.custom-quill-editor .ql-editor {
  height: 300px;
  max-height: 350px;
}

.custom-quill-editor .ql-editor p,
.custom-quill-editor .ql-editor div {
  font-size: 16px !important;
  line-height: 28px;
}

.custom-quill-editor .ql-editor h1 {
  font-size: 32px !important;
  line-height: 40px;
}

.custom-quill-editor .ql-editor h2 {
  font-size: 28px !important;
  line-height: 36px;
}

.custom-quill-editor .ql-editor h3 {
  font-size: 24px !important;
  line-height: 36px;
}

.custom-quill-editor .ql-editor h4 {
  font-size: 20px !important;
  line-height: 32px;
}

.custom-quill-editor .ql-editor h5 {
  font-size: 14px !important;
  line-height: 20px;
}

.custom-quill-editor
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='5']::before {
  content: 'Small' !important;
}

.custom-quill-editor .ql-toolbar:nth-child(2) {
  display: none !important;
}

.custom-quill-editor .ql-snow .ql-picker-options {
  background-color: #333;
}

.custom-quill-editor .ql-toolbar.ql-snow {
  /* //border-bottom: none; */
  background: #333; /* Darken toolbar background */
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
  border-radius: 4px;
  height: 48px;
  display: flex;
  align-items: center;
}

.custom-quill-editor .ql-toolbar.ql-snow .ql-formats {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.custom-quill-editor .ql-toolbar.ql-snow .ql-formats button {
  padding: 8px;
  height: 36px;
  width: 36px;
  color: #fff; /* Set toolbar button text color to white */
}

.custom-quill-editor .ql-toolbar.ql-snow .ql-formats button .ql-stroke {
  stroke: white;
}

.custom-quill-editor .ql-toolbar.ql-snow .ql-formats button .ql-fill {
  fill: white;
}

.custom-quill-editor .ql-container.ql-snow {
  border: none !important; /* Remove border for container */
  max-height: 300px;
  overflow: auto;
  background-color: #222; /* Set editor background color to dark gray */
}

.custom-quill-editor .ql-editor.ql-blank::before {
  font-style: normal;
  color: #aaa; /* Set placeholder text color to light gray */
}

.custom-quill-editor .ql-snow .ql-picker.ql-size .ql-picker-label,
.custom-quill-editor .ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: attr(data-value) !important;
  color: white;
}
